/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@font-face {
	font-family: 'MyFont';
	src: url('../assets/Montserrat-Medium.ttf');
	font-weight: 600;
	font-style: normal;
}

html {
	font-family: "MyFont";
}

h1 {
	font-size: 3.5vh;
	line-height: 1.5;
}

h2 {
	font-size: 3vh;
	line-height: 1.5;
}

h3 {
	font-size: 2vh;
	line-height: 1.5;
}

p {
	line-height: 1.5;
}

nav {
	height: 10vh;
	background-color: rgb(121, 121, 245);
	display: flex;
	justify-content: center;
	align-items: center;
}

.navSticky {
	position: sticky;
	top: 0;
	z-index: 1
}

.desktopMenu {
	display: flex;
	width: 50%;
	height: 100%; 
	justify-content: space-around;
	align-items: center;
	color: white;
	font-size: 2vh;
}

.mobileMenu {
	display: flex;
	position: relative;
	background-color: rgb(121, 121, 245);
	color: white;
	width: 100%;
	height: 100%;
	justify-content: end;
	align-items: center;
}

.openBtn {
	background-image: url(../assets/menu.png);
	background-size: cover;
	height: 5vh;
	width: 5vh;
	margin-right: 3vh;
}

.closeBtn {
	background-image: url(../assets/close.png);
	background-size: cover;
	height: 4vh;
	width: 4vh;
	margin-right: 3vh;
}

.dropDownDiv {
	display: flex;
	flex-wrap: wrap;
	width: 100%;
	position: absolute;
	top: 10vh;
	border-top: solid 0.5px white;
	border-bottom: solid 0.5px white;
}

.invisible {
	display: none;
}

.holderDiv {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 3vh;
	background-color: rgb(121, 121, 245);
	border-top: solid 0.5px white;
	border-bottom: solid 0.5px white;
	color: white;

}

header {
	position: relative;
	display: flex;
	justify-content: center;
}

.tiltedDivHolder {
	overflow: hidden;
	height: 100%;
	width: 100%;
	position: absolute;
	z-index: -1;
}

.tiltedDiv {
    background-color: rgb(121, 121, 245);
	height: 100%;
	width: 125%;
	position: absolute;
	top: -20%;
	transform: rotate(-5deg);
	transform-origin: bottom left;

}

.aboutDiv {
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	max-width: 50vw;
	max-height: 40vh;
	min-width: 700px;
	margin-top: 5vw;
}

.about {
	background-color: white;
	padding: 3vh;
	box-shadow: 5px 5px 10px grey;
	box-sizing: border-box;
	width: 60%;
}

.aboutDiv img {
	width: 40%;
	max-width: 350px;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 5vh;
}

.projectList {
	max-width: 50vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
	gap: 5vh;
	padding-top: 5vh;
	min-width: 700px;
}

section {
	max-width: 40%;
	box-shadow: 5px 5px 10px grey;
}

section img {
	width: 100%;
}

.description {
	padding: 3vh;
}

.iconHolder {
	display: flex;
	justify-content: end;
	align-items: center;
	gap: 1.2vh;
	width: 100%;
	margin-top: 3vh;
}

.iconHolder img {
	height: 2vh;
}

footer {
	background-color: rgb(121, 121, 245);
	display: flex;
	justify-content: center;
	color: white;
}

.footerInfo {
	display: flex;
	align-items: start;
	align-content: start;
	justify-content: center;
	max-width: 50vw;
	max-height: 40vh;
	min-width: 700px;
	padding-bottom: 5vw;
	padding-top: 5vw;
	gap: 5vh;
}

.footerInfo img {
	width: 50%;
	max-width: 400px;
}

.contactInfo {
	display: flex;
	flex-direction: column;
	gap: 2vh;
}

.contactInfo div {
	display: flex;
	align-items: center;
	gap: 1vh;
}

.contactInfo img {
	max-height: 2vh;
	width: auto;
}

@media (max-width: 1000px) {

	.aboutDiv {
		flex-wrap: wrap;
		max-height: unset;
		min-width: 0;
		top: 5vh;
	}

	.about {
		width: 75%;
	}

	.aboutDiv img {
		width: 75%;
		height: auto;
		max-width: unset;
	}

	section {
		max-width: 100%;
	}

	.projectList {
		min-width: unset;
	}

	.footerInfo {
		flex-wrap: wrap;
		max-height: unset;
		min-width: unset;
	}

	.contactInfo {
		width: 75%;
	}

	.footerInfo img {
		width: 75%;
		height: auto;
		max-width: unset;
	}

	.contactInfo img {
		width: auto;
	}
}

@media (max-width: 650px) {

	.aboutDiv {
		flex-wrap: wrap;
		max-height: unset;
		min-width: unset;
		top: 5vh;
		max-width: 75vw;
	}

	.about {
		width: 100%;
	}

	.aboutDiv img {
		width: 100%;
	}

	.projectList {
		max-width: 75vw;
		min-width: unset;
	}

	.footerInfo {
		flex-wrap: wrap;
		max-height: unset;
		min-width: unset;
		max-width: 75vw;
	}

	.contactInfo {
		width: 100%;
	}

	.footerInfo img {
		width: 100%;
	}

	.contactInfo img {
		width: auto;
	}
}